
 <br/>  <br/> <br/>  <br/>

 <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-home"></span> Home
        </a>
 
 <div class="ui-g">



          <div class="ui-g-6">
                                             <div class="Graph" >
                                                  <p class="HEADING"><b>NO OF CERTIFICATES HOLD BY USERS</b></p>
                                          

                                             <p-chart type="bar" [data]="data">
                                   </p-chart>
                              </div>
</div>
 







<div class="ui-g-6"> 
      
                                        <div  class="Graph">
                                        <p class="HEADING"><b>NO OF CERTIFICATION ON MONTH OF 2019</b></p>
                                        <p-chart type="pie" [data]="data1"></p-chart>
                                        <div>
     </div>
 </div>


        
             