.UpdateButton
  {
    margin-left: 192px!important;
  }
  .myStyles
  {
    width:15px!important
  }
  .dropdown
  {
    width:15px!important;
  }
.UpdateAlign
{
    margin-top: 192px;
    margin-left: 438px;
}
.jumbotron {
    margin-top: 58px;

    padding-top: 0px;
    padding-bottom: 90px;
    
    margin-bottom: 44px;
    color: inherit;
    background-color: #eee;
    padding-left: 50px;
    margin-left: 168px;
    margin-right: 146px;
    
  }
  div#boarder{
    border: 3px solid #e2d6d6;
  }
  .Heading
  {
    background: darkgray;
    margin-left: -52px;
  }
  .para
  {
    margin: 0px 539px
  }
  .errorMessages{
 
    background-color: #eee;
      border: #eee;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      
      font-size: 85%;
  }
  .alert
{
padding: 0px!important;
color: #f92424;
border-color: #eee;
}