#panel
{
position: fixed!important;
    background-color: #a94442;
    
   // z-index:999;   
        position: fixed;
        width: 100%;
        
        min-width: auto;
        
    top: 0;
    left: 0;
    width: 100%;
    
    }
